@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap");

body {
  font-family: "Duru Sans", sans-serif !important;
  background-color: rgb(250, 220, 182) !important;
}

.react-grid-item {
  border-style: solid;
  border-color: rgb(94, 27, 0);
  background-color: tan;
}

.bottle-cell {
  height: 24px;
  width: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(92, 26, 0);
  background-color: rgba(167, 70, 0, 0.25);
}

.bottle-row {
  display: flex;
  height: 24px;
}

.purple {
  color: white;
  background-color: rgb(58, 1, 33);
}

.btn-primary {
  background-color: rgb(82, 4, 48) !important;
  border-color: rgb(82, 4, 48) !important;
}

.form-div {
  padding-top: 1rem;
  border-bottom: 2px, solid, gray;
}

.section-head {
  text-align: center;
}

.react-bootstrap-table .table-bordered td {
  border: 1px solid black;
  text-overflow: clip;
  overflow: hidden;
}

.react-bootstrap-table .table-bordered th {
  border: 1px solid black;
}

.gui-div-hidden {
  display: none;
}

.selected {
  background-color: chartreuse !important;
}
